body{
    text-align: center;
}

.heading {
    background-color: #e7cc32;
    height: 500px;
    background-image: url("img/header.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    background-attachment: fixed;
}

h1 {
    font-size: 40px;
    padding: 50px 200px 20px 200px;
    border-bottom: black solid 13px;
    display: inline-block;
}

table{
    margin: auto;
}

td {
    width: 511px;
    height: 272px;
}

tr:nth-child(1)>td{
    background-image: url("img/pic1.png");
}

tr:nth-child(2)>td{
    background-image: url("img/pic2.png");
}

tr:nth-child(3)>td{
    background-image: url("img/pic3.png");
}