body{
    background-color: #efef6a;
    color:blue;
    font-family: 'Borel', cursive;
}
ul{
    list-style-type: '☺︎';
}

h1{
    text-shadow: -12px 9px 8px black;
}
.important{
    color:red;

}

.done{
    text-decoration: line-through;
}

.center{
    text-align: center;
}