body{
    background-color: #9AF3C0;
    text-align: center;
}

.menu>a{
    padding: 2px 4px;
    border: #8c1e00 1px solid;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    color: #8c1e00;
    box-shadow: 3px 2px 0 #8c1e00;
    margin: 10px 50px;
}
.card{
    background-color: white;
    width: 300px;
    display: inline-block;
    border: black 5px solid;
    padding-bottom: 50px;
    margin: 20px;
}

img{
    max-width: 100%;
}

.card>a{
    background-color: #9AF3C0;
    padding: 2px 40px;
    border-radius: 15px;
    display: inline-block;
    margin:10px;
    text-decoration: none;
    color: #000000;
}

p{
    font-style: italic;
}

.card span{
    font-weight: bold;
}

table{
    margin: auto;
    border-collapse: collapse;
}
td,th{

    padding: 10px 30px 5px 30px;

}
td{

    border: dashed 1px #808080;
}
tr{
    background-color: white;
}
tr:nth-child(even){
    background-color: #f5f5f5;
}

th{
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 30px;
}
th:first-child{
    background-color: #ff1283;

}

th:nth-child(2){
    background-color: #3580e5;
}

th:nth-child(3) {
    background-color: #5a22d5;
}

th:nth-child(4){
    background-color: #f0a33c;

}

td .price{
    box-shadow: 0 2px 6px 2px #ccc;
}

td .button{
    color: white;
    border-radius: 15px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow: 1px 1px 5px black ;

}
td:first-child .button{
    background-color: #eb3982;

}

td:nth-child(2) .button{
    background-color: #3580e5;
}

td:nth-child(3) .button{
    background-color: #5a22d5;
}

td:nth-child(4) .button{
    background-color: #f0a33c;
}