@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Roboto&display=swap');
body{
    background: rgb(238,143,250);
    background: linear-gradient(43deg, rgba(238,143,250,1) 0%, rgba(86,158,238,1) 97%);
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    position: relative;
}
.moving{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 75px;
}
.moving>div{
    /*animation: moving_up_down 5s;*/
}
.container{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100vw;
}
.button:hover{
    transform: scale(2);
    display: inline-block;
    transition: 1s;
    filter: drop-shadow(0 0 7px rgba(255, 201, 0, 0.76));
}
@keyframes moving_up_down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}